.main {
    font-family: 'Karla', sans-serif;
    margin-top: 8rem;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    margin-bottom: 0;
}

h1,
.profile-container h3 {
    letter-spacing: 3px;
}

.profile-container h4 {
    color: rgb(102, 143, 179)
}

hr {
    max-width: 100px;
    margin-bottom: 3rem;
    background-color: rgb(102, 143, 179);
    height: 5px;
}


.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.profile-container h3 {
    margin-bottom: 0;
}

.profile-container h4 {
    font-weight: 300;
    margin: 0;
}

i {
    font-size: 3em;
}

.profile-img {
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
}

.text-container {
    padding: 0;
    margin: 0;
    max-width: 500px;
    color: rgb(49, 51, 53)
}

.toggle-review-container {
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    max-width: 500px;
    margin: auto;
}

.toggle-review-container i {
    display: block;
    cursor: pointer;
}

#btn-left,
#btn-right {
    background: transparent;
    border-width: 0;

}

#btn-random {
    font-family: inherit;
    font-weight: bold;
    border: 2px solid black;
    width: 7rem;
    height: 2rem;
    letter-spacing: 1.5px;
    background-color: rgb(102, 143, 179);
    color: rgb(49, 51, 53);
    padding: 5px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    margin: 2rem;
}

#btn-random:hover {
    color: #fff;
    cursor: pointer;
}